<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
    <property name="LOG_HOME" value="/data/tomcatlogs/purchase.psp.workbench.ui"/>  <!-- catalina.base -->

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 典型的日志pattern -->
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{128} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 演示按时间滚动的策略 -->
	<appender name="defaultlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/logs/log.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/logs/log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 30天数据，默认无限-->
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{128} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- project default level -->
	<logger name="org.apache.commons.beanutils" level="error">
		<appender-ref ref="console" />
		<appender-ref ref="defaultlogFile" />
	</logger>
	<logger name="org.apache.http" level="error">
		<appender-ref ref="console" />
		<appender-ref ref="defaultlogFile" />
	</logger>
	<logger name="com.zhaogang.kraken" level="error">
		<appender-ref ref="console" />
		<appender-ref ref="defaultlogFile" />
	</logger>
	<logger name="org.springframework.beans" level="error" >
		<appender-ref ref="console" />
		<appender-ref ref="defaultlogFile" />
	</logger>
	<!-- root -->
	<root level="error">
		<appender-ref ref="console" />
		<appender-ref ref="defaultlogFile" />
	</root>
</configuration>