<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <context:annotation-config/>

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.zhaogang.purchase.psp.workbench.controller,com.zhaogangren.tpAuthority"/>

    <!-- 对静态资源文件的访问 -->
    <mvc:default-servlet-handler/>
    <!-- 定义无需Controller的url<->view直接映射 -->
    <mvc:resources mapping="/resources/**" location="/resources/" />


    <bean id="configBean"
          class="com.zhaogang.purchase.psp.workbench.common.CustomizedPropertyConfigurer"
          lazy-init="true">
        <property name="locations">
            <list>
                <!-- 加载配置中心文件 -->
                <value>classpath:runtime.properties</value>
            </list>
        </property>
    </bean>

    <!-- freemarker配置 -->
    <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:freemarker.properties"/>
    </bean>
    <bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="classpath:/view"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="freemarkerSettings" ref="freemarkerConfiguration"/>
        <property name="freemarkerVariables">
        	<map>
        		<entry key="tpAuth">
        			<bean class = "com.zhaogangren.tpAuthority.Template.TpAuthDirective"/>
        		</entry>
        	</map>
        </property>
    </bean>
    <!-- 配置freeMarker视图解析器 -->
    <bean id="freemarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="order" value="1"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="requestContextAttribute" value="request"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="cache" value="true"/>
        <property name="prefix" value="ftl/"/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <!-- 配置spring-mail -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="mail.gangtiequn.com" />
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.atuh">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.timeout">20000</prop>
            </props>
        </property>
        <property name="username" value="purchasemonitoring@gangtiequn.com" />
        <property name="password" value="H7ZX3Z" />
    </bean>
    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="to">
            <array>
                <value>xiaofeng.zhong@china.zhaogang.com</value>
                <value>sun.yang@china.zhaogang.com</value>
            </array>
        </property>
        <property name="cc" value=""/>
        <property name="from" value="purchasemonitoring@gangtiequn.com"/>
        <property name="subject" value = "${mail.sub}"></property>
    </bean>
    <bean id="mailHelper" class="com.zhaogang.purchase.psp.workbench.common.utils.MailHelper">
        <property name="javaMailSender" ref="mailSender"></property>
        <property name="mailMessage" ref="mailMessage"></property>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <bean class="com.zhaogang.monitor.scat.client.ext.interceptor.ScatInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/stockmanage/closeAllAuto"/>
            <mvc:exclude-mapping path="/stock/test/**"/>
            <bean class="com.zhaogang.sso.api.interceptor.LoginInterceptor">
            </bean>
        </mvc:interceptor>
		<!-- 与sso拦截器保持一致，仅修改跳转规则   Session() == null || ErpSession() == null，完全舍弃ERP后换回JumpSsoInterceptor即可 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/stockmanage/closeAllAuto"/>
            <mvc:exclude-mapping path="/stock/test/**"/>
            <bean class="com.zhaogang.purchase.psp.workbench.sso.JumpSsoInterceptor4ERP">
            </bean>
        </mvc:interceptor>
        <!-- 自定义拦截器，用于从TP的 Session()中获取用户信息，并新增联营资源的特殊权限，保持到Redis-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/stockmanage/closeAllAuto"/>
            <mvc:exclude-mapping path="/stock/test/**"/>
            <bean class="com.zhaogang.purchase.psp.workbench.interceptor.SsoTPHandlerInterceptor">
                <property name="jedis" ref="jedisTemplate"/>
            </bean>
        </mvc:interceptor>
         <!-- 自定义拦截器，用于从ERP的 ErpSession()中获取用户信息，并新增联营资源的特殊权限，保持到Redis，完全舍弃ERP后，此拦截器即可删除-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/stockmanage/closeAllAuto"/>
            <mvc:exclude-mapping path="/stock/test/**"/>
            <bean class="com.zhaogang.purchase.psp.workbench.interceptor.SsoHandlerInterceptor">
                <property name="jedis" ref="jedisTemplate"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

	<aop:aspectj-autoproxy/>
    <!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>
